<html>
<head>

<title>
Neue Veranstaltung erstellen
</title>

<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">
					<a href="/web/templates/Logout.html">Logout</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Profile.html">Profil</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewUsers.html">User</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewEvents.html">Veranstaltungen</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Impressum.html">Impressum</a>

				<br />

				<br />
				<br />
				<br />
<!--	HEAD-END, BODY-START							-->
<!--	ab hier kann die Page frei angepasst werden		-->
	<table align="center" width="70%" >
		<tr>
			<td>
				<fieldset class="mainframe"><legend>Neue Veranstaltung hinzuf&uuml;gen</legend>
					<table align="center" width="85%">
						<tr>
							<td>
								<br />
								<br />
							</td>
						</tr>
						<tr>
							<td>
								Name der Veranstaltung:
							</td>
							<td >
								<input type="text" size="30" value="" name="EventName">
 							</td>
						</tr>
						<tr>
							<td>
								Ort der Veranstaltung:
							</td>
							<td>
								<input type="text" value="" name="EventPlace">
 							</td>
						</tr>
						<tr>
							<td>
								<br />
							</td>
						</tr>
						<tr>
							<td>
								Termin der Veranstaltung :
								<br />
								(Bei mehreren Terminen zur selben <br />
								 Veranstaltung diese bitte mit <br />
								 Kommata trennen)
							</td>
							<td>
						<table>
							<tr>
							<td>
							</td width="10%">
							<td>
								Wochentag:
 							</td>
 							<td>
								<input type="text" value="" name="DayOfWeek">
 							</td>
 							</tr>
 							<tr>
 							<td>
 							</td>
							<td>
								Uhrzeit:
 							</td>
 							<td>
								<input type="text" value="" name="EventStartingTime">
 							</td>
 							</tr>
 							<tr>
 							<td>
 							</td>
							<td>
								Woche (A/B):
 							</td>
 							<td>
								<input type="text" value="" name="EventWeek">
 							</td>
 							</tr>
 						</table>
							</td>
						</tr>
						<tr>
							<td>
								<br />
							</td>
						</tr>
						<tr>
							<td>
								Erste Veranstaltung:
							</td>
							<td>
								<input type="text" size="30" value="" name="StartimgDate">
							</td>
						</tr>
						<tr>
							<td>
								&Uuml;bergeordnete Veranstaltungen:
							</td>
							<td>
								<input type="text" size="30" value="" name="SuperEvent">
							</td>
						</tr>
						<tr>
							<td>
								Leiter der Veranstaltung [nur für Admin]:
							</td>
							<td>
								<input type="text" size="30" value="" name="EventLeader">
							</td>
						</tr>
						<tr>
							<td valign="top">
								Veranstaltungsinformationen:
							</td>
							<td>
								<textarea name="ExtraInfo" cols="25" rows="5">
								</textarea>
							</td>
						</tr>
						<tr>
							<td>
								<br />
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td align="right">
								<input type="submit" name="CreateEventButton" value="Veranstaltung hinzuf&uuml;gen">
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td align="right">
								<a href="/web/templates/ViewEvents.html">
									[klick]
								</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
	</table>


<!--	BODY-END, TAIL-START							-->
<!--	eventuell Anzahl der Breaks kürzen!				-->
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>