<html>
<head>

<title>
User löschen?
</title>

<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">
					<a href="/web/templates/Logout.html">Logout</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Profile.html">Profil</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewUsers.html">User</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewEvents.html">Veranstaltungen</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Impressum.html">Impressum</a>

				<br />

				<br />
				<br />
				<br />
<!--	HEAD-END, BODY-START							-->
<!--	ab hier kann die Page frei angepasst werden		-->

		<table align="center" width="40%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<fieldset class="mainframe"><legend>User L&ouml;schen</legend>
					<table align="center">
						<tr>
							<td>
								<br />
								<br />
							</td>
						</tr>
						<tr>
							<td>
								M&ouml;chten Sie diesen User wirklich l&ouml;schen?
							</td>
						</tr>
						<tr>
							<td>
								<br />
							</td>
						</tr>
						<tr>
							<td>
								<table align="center">
									<tr>
										<td width="30%">
										<a href="/web/templates/ViewUsers.html">Ja </a>
										</td>
										<td width="20%">
										<a href="/web/templates/ViewUsers.html">Nein</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<br />
								<br />
							</td>
						</tr>
					</table>
					</fieldset>
				</td>
			</tr>
		</table>

<!--	BODY-END, TAIL-START							-->
<!--	eventuell Anzahl der Breaks kürzen!				-->
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>