<html>
<head>
<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">
					<a href="/web/templates/templates/Logout.html">Logout</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/templates/Profile.html">Profil</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/templates/ViewUsers.html">User</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/templates/ViewEvents.html">Veranstaltungen</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/templates/Impressum.html">Impressum</a>

				<br />
<!--	Platz für Title eventuell???					-->
				<br />
				<br />
				<br />
<!--	HEAD-END, BODY-START							-->
<table align="center" width="97%" border="0" cellspacing="0" cellpadding="0">
	<tr><td align="center"><fieldset class="mainframe"><legend>Veranstaltungs Informationen</legend>
	<table width="97%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		Informationen .......
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" value="Veranstaltung löschen" class="button_100">
		<a href="/web/templates/DeleteEvent.html">[klick]</a>
		<input type="submit" value="Veranstaltung editieren" class="button_100">
		<a href="/web/templates/EditEvent.html">[klick]</a>
		<br />
		<br />
		</td>
	</tr>


	<table align="right" width="95%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center"><fieldset class="mainframe"><legend>Übungs Informationen</legend>
		<table width="97%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			Informationen .......
			</td>
		</tr>
		<tr>
							<td align="center">
								<br>
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
								<tr bgcolor="#cad5e3">
								<td class="listinghead" width="20%">Übungsgruppe</td>
								<td class="listinghead" width="10%"> Raum</td>
								<td class="listinghead" width="7%" align="center">Zeit</td>
								<td class="listinghead" width="7%" align="center">Tag</td>
								<td class="listinghead" width="7%" align="center">Woche</td>
								<td class="listinghead" width="15%" align="center">Übungsgruppenleiter</td>
								<td class="listinghead" width="5%" align="center"></td>


<!-- Hier kommt die dynamisch erzeugte Liste hin. Das hier ist jetzt nur ne design-info-->

								</tr>

								<tr bgcolor="#ebf2fa">

									<td> %EventName</td>
									<td> %Room </td>
									<td align="center">  %Time </td>
									<td align="center">  %Day </td>
									<td align="center"> %Rythm </td>
									<td align="center"> %Lecturer </td>
									<td align="left"><a href="/web/templates/ViewStudent.html">Teilnehmer anzeigen</a></td>

								</tr>

								<tr bgcolor="#ebf2fa">

									<td> %EventName</td>
									<td> %Room </td>
									<td align="center">  %Time </td>
									<td align="center">  %Day </td>
									<td align="center"> %Rythm </td>
									<td align="center"> %Lecturer </td>
									<td ><a href="/web/templates/ViewStudent.html">Teilnehmer anzeigen</a></td>

								</tr>

								<tr bgcolor="#ebf2fa">

									<td> %EventName</td>
									<td> %Room </td>
									<td align="center">  %Time </td>
									<td align="center">  %Day </td>
									<td align="center"> %Rythm </td>
									<td align="center"> %Lecturer </td>
									<td ><a href="/web/templates/ViewStudent.html">Teilnehmer anzeigen</a></td>
								</tr>

								</tbody></table>
							</td>
						</tr>



		</table>
	</fieldset>
	</td>



	</tr>
</table>





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<table align="right" width="95%" border="0" cellspacing="0" cellpadding="0">
	<tr><td align="center"><fieldset class="mainframe"><legend>Prüfungs Informationen</legend>
	<table width="97%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		Informationen .......
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" value="Prüfung editieren" class="button_100">
		<a href="/web/templates/EditEvent.html">[klick]</a>
		&nbsp;&nbsp;&nbsp;
		<a href="/web/templates/DeleteEvent.html">Prüfung löschen</a>
		</td>
	</tr>

		</table>
	</fieldset>
	</td>
	</tr>
</table>
		</table>
	</fieldset>
	</td>
	</tr>
</table>

<!--	BODY-END, TAIL-START							-->
<!--	eventuell Anzahl der Breaks kürzen!				-->
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>