<html>
<head>

<title>
PasswortVergessen
</title>

<link rel="stylesheet" type="text/css" href="/web/templates/style.css">
</head>
<body>
	<tbody>




<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center">

				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>




				<br />
				<br />
				<br />
				<table width="330" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><fieldset class="fslogin"><legend>Passwort per E-mail zuschicken lassen</legend>

						<br />
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="90">&nbsp;&nbsp;Username:</td>
							<td>&nbsp;<input type="text" name="username" value="" class="input_200"></td>
						</tr>
						<tr>
							<td colspan="2" align="center">
							<br /><input href="/web/templates/ViewEvents.html" type="submit" value="submit" class="button_100">
							<a href="/web/templates/ForgotPassword.html">[klick]</a>
						</td>
<!-- Der folgende Satz wird nach dem erfolgreichen submit angezeigt. -->
						<tr>
							<td align="center" colspan="2"><br/ >Ihr Passwort wurde an Ihre E-mail Addresse geschickt.</td>
						</tr>
						</tr>
						<tr>
							<td ><br /><br />
						</tr>
						<tr>
							<td width="50%"><a href="/web/templates/Login.html">Zur&uuml;ck zum Login</a> </td>
							<td align=right> <a href="/web/templates/RegisterStart.html">Als neuer User registrieren</a> </td>
						</tr>
						</table>
						</fieldset>

					</td>
				</tr>
				<tr>
					<td align="center">
						<br />
						<br />

						</form>
					</td>
				</tr>

				</table>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />

				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />

				<br />




<!--	eventuell Anzahl der Breaks kürzen!				-->
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>

	</td>
</tr>
</table>
	</tbody>
</body>

</html>