<html>
<head>
<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">
					<a href="/web/templates/Logout.html">Logout</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Profile.html">Profil</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewUsers.html">User</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewEvents.html">Veranstaltungen</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Impressum.html">Impressum</a>

				<br />
<!--	Platz f?r Title eventuell???					-->
				<br />
				<br />
				<br />


<table align="center" width="500" border="0" cellspacing="0" cellpadding="0">
	<tr><td align="center"><fieldset class="mainframe"><legend>Pers&ouml;nliches Profil</legend>
	<table width="97%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<br /><br />
			</td>
		</tr>
		<tr>
			<td width="150"> Vorname: </td>
			<td><input type="text" value="%User.sFirstName" name="firstName" class="input_200"></td>
		</tr>

		<tr>
			<td> Nachname: </td>
			<td><input type="text" value="%User.sSurname" name="surname" class="input_200"></td>
		</tr>
		<tr>
			<td>%Matrikel Nummer/ <br />
				%Personal Number: </td>
			<td><input type="text" value="%User.sPersonalNumber" name="personalNumber" class="input_200"></td>
		</tr>
		<tr>
			<td>
			<br />
			</td>
		</tr>
		<tr>
			<td> Username: </td>
			<td><input type="text" value="%User.sLogin" name="username" class="input_200"></td>
		</tr>
		<tr>
			<td>Rolle:</td>
			<td><SELECT ><option value="1" class="select_version">Student</option>
						<option value="2" class="select_version">Dozent</option>
						<option value="3" class="select_version">Administrator</option>
			</SELECT> </td>
		</tr>
		</tr>
		<tr>
			<td>
			<br />
			</td>
		</tr>
		<tr>
			<td> E-Mail Adresse: </td>
			<td><input size="50" type="text" value="%User.sEmailAddress" name="mail" class="input_200"></td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<br />
				<input type="submit" value="&uuml;bernehmen" class="button_100">

				<br />
				<br />
				<hr width="100%">
				<br />
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td> altes Passwort: </td>
			<td><input type="password" value="" name="password" class="input_200"></td>
		</tr>
		<tr>
			<td> neues Passwort: </td>
			<td><input type="password" value="" name="newPassword" class="input_200"></td>
		</tr>
		<tr>
			<td> neues Passwort wiederholen: </td>
			<td><input type="password" value="" name="againPassword" class="input_200"></td>
		</tr>
		<tr>
			<td>
				<br />
			</td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<br />
				<input type="submit" value="&uuml;bernehmen" class="button_100">
				<!-- nicht vergessen Die PW-Felder nach submit wieder zu leeren! -->
				<br />
			</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<br />
				<hr width="100%">
				<br />
				<input type="submit" value="neuen User anlegen" class="button_100"><a href="/web/templates/ViewUsers.html">[klick]</a>
				<br />
				<input type="submit" value="User löschen" class="button_100"><a href="/web/templates/DeleteUser.html">[klick]</a>
				<br />
				<br />
				<br />
			</td>
		</tr>
	</table>
	</fieldset></td></tr>
</table>

<!--	BODY-END, TAIL-START							-->
<!--	eventuell Anzahl der Breaks k?rzen!				-->
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>
	</td>
</tr>

</body>
</html>