<html>

<head>

<title>
Neuen Dozent anmelden
</title>

<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>

<body bgcolor="#ffffff">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">

					<a href="/web/templates/Impressum.html">Impressum</a>


				<br />
<!--	Platz für Title eventuell???					-->

				<br />
				<br />
				<br />
<!--	HEAD-END, BODY-START							-->
<!--	ab hier kann die Page frei angepasst werden		-->
<table align="center" width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td align="center">
	<fieldset class="mainframe"><legend>Neuen Dozent anmelden</legend>
	<table width="97%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<br /><br />
			</td>
		</tr>
		<tr>
			<td width="150"> Vorname: </td>
			<td><input type="text" value="" name="firstName" class="input_200"></td>
		</tr>
		<tr>
			<td> Nachname: </td>
			<td><input type="text" value="" name="surname" class="input_200"></td>
		</tr>
		<tr>
			<td> Titel an der Fakultät: </td>
			<td><input type="text" value="" name="studiengang" class="input_200">&nbsp(Dr., Prof., ... Studentische Hilfskraft)</td>
		</tr>
		<tr>
			<td> Personalnummer: </td>
			<td><input type="text" value="" name="personalNumber" class="input_200"></td>
		</tr>
		<tr>
			<td> Fakultät: </td>
			<td><input type="text" value="" name="studiengang" class="input_200"></td>
		</tr>

		<tr>
			<td> E-Mail: </td>
			<td><input size="50" type="text" value="" name="mail" class="input_200"></td>
		</tr>

	</table>

		<br />
		<hr width="100%">

	<table width="97%" border="0" cellspacing="0" cellpadding="0">

		<tr>
			<td width="150"><br />Passwort:	</td>
			<td><input type="password" value="" name="studiengang" class="input_200"></td>
		</tr>
		<tr>
			<td width="150"><br />Passwort wiederholen:	</td>
			<td><input type="password" value="" name="studiengang" class="input_200"></td>
		</tr>

		<tr>
			<td colspan="2" align="right">
				<br />
				<input type="submit" value="registrieren" class="button_150"><a href="/web/templates/RegisterInfo.html">[klick]</a>

				<br />
				<br/>
			</td>
		</tr>


	</table>

	</td>
	</tr>
</table>
<!--	BODY-END, TAIL-START							-->
<!--	eventuell Anzahl der Breaks kürzen!				-->
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />

				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>

</body>
</html>