<html>
<head>

<title>
Student in Veranstaltung eintragen
</title>

<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">
					<a href="/web/templates/Logout.html">Logout</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Profile.html">Profil</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewUsers.html">User</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewEvents.html">Veranstaltungen</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Impressum.html">Impressum</a>

				<br />
<!--	Platz f?r Title eventuell???					-->
				<br />
				<br />
				<br />


<table align="center" width="500" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td align="center">
	<fieldset class="mainframe">
	<legend>Student zur Veranstaltung hinzufügen</legend>
	<table width="97%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<br /><br />
			</td>
		</tr>
		<tr>
			<td width="150"> Vorname: </td>
			<td><input type="text" value="" name="firstName" class="input_200"></td>
		</tr>
		<tr>
			<td> Nachname: </td>
			<td><input type="text" value="" name="surname" class="input_200"></td>
		</tr>
		<tr>
			<td> Matrikelnummer: </td>
			<td><input type="text" value="" name="personalNumber" class="input_200"></td>
		</tr>
		<tr>
			<td> Studiengang: </td>
			<td><input type="text" value="" name="studiengang" class="input_200"></td>
		</tr>
		<tr>
			<td> E-Mail: </td>
			<td><input size="50" type="text" value="" name="mail" class="input_200"></td>
		</tr>

	</table>

		<br />
		<hr width="100%">

	<table width="97%" border="0" cellspacing="0" cellpadding="0">

		<tr>
			<td width="150"><br />Passwort:	</td>
			<td><input type="password" value="" name="studiengang" class="input_200"></td>
		</tr>
		<tr>
			<td width="150"><br />Passwort wiederholen:	</td>
			<td><input type="password" value="" name="studiengang" class="input_200"></td>
		</tr>

		<tr>

			<td>
			<a href="/web/templates/ViewStudent.html">zurück</a>
			</td>

			<td colspan="2" align="right">
				<br />
				<input type="submit" value="hinzufügen" class="button_100"><a href="/web/templates/RegisterInfo.html">[klick]</a>

				<br />
				<br/>
			</td>
		</tr>

	</table>
	</fieldset>
	</td>
	</tr>
</table>

<!--	BODY-END, TAIL-START							-->
<!--	eventuell Anzahl der Breaks k?rzen!				-->
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>

</body>
</html>