<html>
<head>

<title>
Veranstaltungen auflisten
</title>

<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">
					<a href="/web/templates/Logout.html">Logout</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Profile.html">Profil</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewUsers.html">User</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/ViewEvents.html">Veranstaltungen</a>&nbsp;&nbsp;&nbsp;
					<a href="/web/templates/Impressum.html">Impressum</a>

				<br />
				<br />
				<br />


<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td >


						<fieldset class="mainframe"><legend>Veranstaltungen</legend>
						<br>
						<table border="0" cellpadding="0" cellspacing="0" width="97%">
						<tbody>
						<tr>
							<td><br /><br />
								Die Veranstaltung wurde gel&ouml;scht.
								<br /><br />
								list: <SELECT >
<!-- Wir wollen ja die möglichen Event Typen aus einer Datei lesen, also wird dieser dropdown dynamisch generiert.
	 Er muß ja sowieso dynamisch sein. Schon wegen der Rollenverteilung. -->
									  <option value="1" class="select_version">alle Veranstaltungen</option>
									  <option value="2" class="select_version">alle %EventTypes.sEventType</option>
									  <option value="5" class="select_version">eingeschriebene Veranstaltungen</option>
									  <option value="6" class="select_version">eingeschriebene %EventTypes.sEventType</option>
									  <option value="9" class="select_version">verwaltete Veranstaltungen</option>
									  <option value="10" class="select_version">verwaltete %EventTypes.sEventType</option>
								</SELECT> </td>
						</tr>
						<tr>
							<td align="center">
								<br>
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr bgcolor="#cad5e3">
								<td class="listinghead">Name</td>
								<td class="listinghead" width="25%">Dozent</td>
								<td class="listinghead" width="20%" align="center">eingeschrieben</td>
								</tr>

<!-- Hier kommt die dynamisch erzeugte Liste hin. Das hier ist jetzt nur ne design-info -->
<!-- Vorran stehen die Vorlesungen. Eingerückt sind die dazugehörigen Übungen und Prüfungen -->

								<tr bgcolor="#ebf2fa">
								<!-- eine Vorlesung -->
									<td><a href="/web/templates/EventInfo.html">%Event.sEventName</a> </td>
									<td>%Event.sLecturer</td>
									<td ALIGN=center>%PicTrue</td>
								</tr>
								<tr bgcolor="#ebf2fa">
								<!-- die dazugehörige Übung -->
									<td>&nbsp; &nbsp; &nbsp;
										<a href="/web/templates/EventInfo.html">%Event.sEventName</a> </td>
									<td>%Event.sLecturer</td>
									<td ALIGN=center>%PicTrue</td>
								</tr>
								<tr bgcolor="#ebf2fa">
								<!-- die dazugehörige Prüfung -->
									<td>&nbsp; &nbsp; &nbsp;
										<a href="/web/templates/EventInfo.html">%Event.sEventName</a> </td>
									<td>%Event.sLecturer</td>
									<td ALIGN=center>%PicTrue</td>
								</tr>
								<tr bgcolor="#ebf2fa">
								<!-- noch eine Vorlesung -->
									<td><a href="/web/templates/EventInfo.html">%Event.sEventName</a> </td>
									<td>%Event.sLecturer</td>
									<td ALIGN=center>%PicFalse</td>
								</tr>
								<tr bgcolor="#ebf2fa">
								<!-- die dazugehörige Übung -->
									<td>&nbsp; &nbsp; &nbsp;
										<a href="/web/templates/EventInfo.html">%Event.sEventName</a> </td>
									<td>%Event.sLecturer</td>
									<td ALIGN=center>%PicFalse</td>
								</tr>
								<tr bgcolor="#ebf2fa">
								<!-- und noch eine Vorlesung -->
									<td><a href="/web/templates/EventInfo.html">%Event.sEventName</a> </td>
									<td>%Event.sLecturer</td>
									<td ALIGN=center>%PicTrue</td>
								</tr>

								</tbody></table>
								<br />
								<br />
								<br />
								<input type="submit" value="Neue Veranstaltung anlegen" class="button_100">
								<a href="/web/templates/CreateEvent.html">[klick]</a>
								<br />
					   		</td>
						</tr>


						</tbody></table>
						</fieldset>
					</td>
				</tr>
				</table>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>

	</td>
</tr>
</table>
</body>
</html>