<html>
<head>
<link rel="stylesheet" href="/web/templates/style.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
		<table width="97%" border="0" cellspacing="0" cellpadding="0"
		<tr>
			<td align="center">
				<fieldset class="mainframe"><legend>Cooperator v0.1</legend>
				<div style="text-align:right">
					<a href="/web/templates/Impressum.html">Impressum</a>

				<br />

				<br />
				<br />
				<br />
<!--	HEAD-END, BODY-START							-->
<!--	ab hier kann die Page frei angepasst werden		-->

				<table align="center" width="80%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<fieldset class="mainframe"><legend>is nur jetzt da, sonst ist man gleich richtig eingeloggt</legend>
						<table align="center">
							<tr>
								<td>
									<br />
									<br />
								</td>
							</tr>
							<tr>
								<td align="center">
									Bitte w&auml;hlen Sie ob sie sich als Student oder Dozent einloggen möchten!
								</td>
							</tr>
							<tr>
								<td>
									<br />
									<br />
								</td>
							</tr>

							<tr>
								<td>
									<table align="center">
										<tr>
											<td width="70%">
												<a href="/web/templates/ViewEvents.html"> Als Student einloggen</a>
											</td>
											<td width="30%">
												<a href="/web/templates/DocentEventInfo.html"> Als Dozent einloggen</a>
											</td>
										</tr>
									</table>
									<p><br />
									(Beim Dozentenlogin wird die Veranstaltungsaufzählung übersprungen und gleich in die Detailansicht einer solchen gegangen, dies dient nur dazu die unterschiedliche Funktionalität zu zeigen.)
								</td>
							</tr>
							<tr>
								<td>
									<br />
									<br />
								</td>
							</tr>
						</table>
						</td>
						</tr>
						</td>
					</tr>
									</table>

<!--	BODY-END, TAIL-START							-->
<!--	eventuell Anzahl der Breaks kürzen!				-->
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
				</fieldset>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>